start RCDATA "H:\\icons\\icons8-воспроизведение-48.png"
insert RCDATA "H:\\icons\\icons8-вставить-48.png"
cut RCDATA "H:\\icons\\icons8-вырезать-48.png"
delete RCDATA "H:\\icons\\icons8-мусор-48.png"
open RCDATA "H:\\icons\\icons8-открыть-папку-48.png"
cancel RCDATA "H:\\icons\\icons8-отменить-48.png"
retry RCDATA "H:\\icons\\icons8-повторить-48.png"
copy RCDATA "H:\\icons\\icons8-скопировать-48.png"
save RCDATA "H:\\icons\\icons8-сохранить-40.png"
new RCDATA "H:\\icons\\icons8-файл-48.png"
